In [8]:
# pip install pandas
import pandas as pd
df = pd.read_excel('stock_data.xlsx')  # DataFrame
df

  tickers            eps  revenue price         people
0   GOOGL          27.82       87   845     larry page
1     WMT           4.61      484    65           n.a.
2    MSFT             -1       85    64     bill gates
3    RIL   not available       50  1023  mukesh ambani
4    TATA            5.6       -1  n.a.     ratan tata

In [12]:
df['revenue'] = df['revenue'].replace(-1, 0)
df['price'] = df['price'].replace('n.a.', 0)
df['lower_tickers'] = df['tickers'].apply(lambda ticker: ticker.lower())
df['double_price'] = df['price'] * 2
df

,tickers,eps,revenue,price,people,lower_tickers,double_price
0,GOOGL,27.82,87,845,larry page,googl,1690
1,WMT,4.61,484,65,n.a.,wmt,130
2,MSFT,-1,85,64,bill gates,msft,128
3,RIL,not available,50,1023,mukesh ambani,ril,2046
4,TATA,5.6,0,0,ratan tata,tata,0

In [13]:
df.to_excel('new_stock.xlsx')